* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #c9e7ef;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100%;
  min-height: 100vh; }

.container {
  width: 100%;
  margin: 0 0 0 0;
  background-color: var(--color-grey-light-1); }

.header {
  height: 7rem;
  background-color: #8cb0f8;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer {
  height: 5rem;
  background-color: #c4d0d3; }

.content {
  display: flex; }

.sidebar {
  background-color: #f2af1f;
  min-width: 15rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }

.main {
  background-color: #4ec940; }

.nav__item {
  padding: 1rem 1rem 1rem 2rem;
  list-style-type: none;
  background-color: #f2af1f;
  cursor: pointer; }
  .nav__item:hover {
    background-color: #e8d106; }

.imgWrapper {
  display: flex; }
  .imgWrapper__photo {
    width: 100%;
    display: block; }

.header__banner {
  padding-left: 2rem; }

.header__user {
  padding-right: 2rem; }

.pageHeader {
  background-color: #fff;
  padding: 2rem; }

.commentBox {
  background-color: #dedffc;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 15px; }
  .commentBox__header {
    padding: 2rem;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  .commentBox__content {
    padding: 2rem; }
  .commentBox__footer {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }

.testimonies {
  display: flex;
  justify-content: center; }
  .testimonies .testimony {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 30%; }
    .testimonies .testimony__text {
      padding: 2rem; }
    .testimonies .testimony__profile {
      display: flex;
      padding: 1rem 2rem;
      background-color: blue;
      flex: 1 0 auto;
      align-items: center; }
      .testimonies .testimony__profile__info {
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: center;
        align-items: center; }
