.nav {

  &__item {
    padding: 1.5rem 1rem 1.5rem 2rem;
    list-style-type: none;
    background-color:  $green-main ;
    cursor: pointer;


    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;


    &:hover {
      background-color:  $green-secondary ;
    }
  }

}

.imgWrapper {

  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }

}

.header__banner {
  padding-left: 2rem;
}

.header__user {
  padding-right: 2rem;
}

.pageHeader {
  background-color: $white;
  padding: 2rem;

  border-bottom: solid 1px lightgrey;
}

.commentBox {
  background-color: $white;

  display: flex;
  flex-direction: column;
  margin: 2rem;

  // still need this even though border in footer defined
  border-radius: 15px;

  &__header {

    //https://stackoverflow.com/questions/37785345/how-to-get-flexbox-to-include-padding-in-calculations/37785605
    padding: 2rem;
    background-color: $blue-secondary;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    font-size: 1.5rem;
    font-weight: bold;
    color: $white;

  }

  &__content {
    padding: 2rem;
  }

  &__footer {
    background-color: $white;
    padding: 2rem;
    display:flex;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top: solid 1px lightgrey;
    font-weight: bold;

    &__dateposted {

    }


  }
}


.testimonies {

  display: flex;
  justify-content: center;

  .testimony {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 30%;


    &__text {
      padding: 2rem;

    }

    &__profile {
      display: flex;
      padding: 1rem 2rem;
      background-color: $white;
      flex : 1 0 auto;
      align-items: center;

      &__photo {


      }

      &__info {
        width: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;


          &--rating {
            font-weight: bold;
            font-size: 2.5rem;
          }

          &--name {
            margin-top: 5px;
            font-style: italic;
          }

          &--date {
            font-style: italic;
          }

      }
    }

  }
}

.copyright {
  margin-left: 2rem;
  color: $white;
}